<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Today</h1>
        <% t = Time.now.strftime(" %A, %B %d, %Y")%>
        <p><%="The date is #{t}"%> </p>
    </body>
</html>
